{% load static %}
<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="images/x-icon" href="img/favicon.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="keywords" content="Свердловск, svkmarket, ЛНР, объявления, маркет, покупки, Aliexpress, shop, market, заказы, бизнесс, заработать, разработка сайтов, услуги" />
<meta name="description" content="Заказы с Aliexpress, выгодное предложение, быстрая доставка, бесплатные объявления, канал Telegram @svkmarker, электронная комерция">

</head>
|<style>
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2vh; /*высота футера будет зависеть от высоты экрана*/
}
/* чтобы весь футер заливался */

html,body{
    height:100%;
     background-color: #000000;
}


</style>
<body>





  <!-- NAV #1 и HEADER -->
<div class="tbg-dark align-self-start">
  <div class="container col-12 align-self-start">
    <div class="row bg-dark  align-self-start">

<nav class="navbar navbar-expand-md navbar-dark bg-dark col-12 ">


 <!--Название сайта и кнопка раскрытия меню для мобильных-->
  <!--<div class="navbar-header">-->

  <div class="col-4">
 <a class="navbar-brand" href="/"><img src="{% static 'logo.png' %}" width="32" height="32">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIGITAL LAND</a>
  </div>
{% if user.is_authenticated %}
     <div class="col-4">
  <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите номер..." name="q" class="form-control" required="">
        <button type="submit"  class="btn btn-success">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </form>
     </div>


       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
 <span class="navbar-toggler-icon"></span>
 </button>

 <!--Само меню-->


 <div class="collapse navbar-collapse" id="navbarResponsive">

 <ul class="navbar-nav ml-auto  d-flex justify-content-end">


        	<li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Работник</a>
        <div class="bg-dark dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-warning" href="/ekzamen/add/">Добавить</a>
          <a class="dropdown-item text-warning" href="/ekzamen/usersview/">Все</a>

        </div>

            </li>


        	<li class="nav-item"><a href="/ekzamen/ppview/" class="nav-link">Отчеты</a></li>
		<li class="nav-item"><a href="/" class="nav-link">Главная</a></li>


		<li class="nav-item"><a href="about.php" class="nav-link">О нас</a></li>
		<li class="nav-item"><a href="kontakts.php" class="nav-link">Контакты</a></li>


		<li class="active nav-item"><a href="{% url 'logout'%}" class="nav-link">Выход</a></li>
        </ul>
 </div><!-- /.navbar-collapse -->
    {% endif %}
</nav>


      </div>


 </div>

     </div>
{% if user.is_authenticated %}
  <div class="container bg-dark align-self-start col-12" >
        <div class="row bg-dark col-12 d-flex justify-content-center" >
  {% for p1 in Ptemp %}
     <p class="text-success text-center">Вы вошли как - {{  p1.user  }}-{{ p1.name }} </p>


{% endfor %}

        </div>
  </div>
  {% endif %}
    {% block content %}

    {% endblock %}





   {% include 'ekzamenator/footer.html' %}
