{% load static %}
<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="images/x-icon" href="{% static 'favicon.ico' %}">
 <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    -->
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->



    <!--
    <meta name="keywords" content="Свердловск, svkmarket, ЛНР, объявления, маркет, покупки, Aliexpress, shop, market, заказы, бизнесс, заработать, разработка сайтов, услуги" />
<meta name="description" content="Заказы с Aliexpress, выгодное предложение, быстрая доставка, бесплатные объявления, канал Telegram @svkmarker, электронная комерция">

-->
|<style>
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2vh; /*высота футера будет зависеть от высоты экрана*/
}
/* чтобы весь футер заливался */

html,body{
    height:100%;
     background-color: #000000;
}


</style>
</head>

<body>





  <!-- NAV #1 и HEADER -->
<div class="container col-12">
	<div class="row bg-dark">


<nav class="navbar navbar-expand-md navbar-dark bg-dark col-12 fixed-top">
			<div class="col-1">

				<a class="navbar-brand text-success" href="/" data-placement="top" title="Главная страница"><img src="/static/logo.png" width="32" height="32">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>
                		</div>
              <div class="col-3 text-success">
                    <table>
<tbody>
    <tr><td>{% for p1 in Ptemp %} {{ p1.name }}{% endfor %}</td></tr>
    <tr><td>
                <div class="text-warning">
          {% block title %}

    {% endblock %}
                </div>
        </td></tr>
 </tbody>
</table>


</div>




{% if user.is_authenticated %}
     <div class="col-3">
  <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите номер или ФИО" name="q" class="form-control" required="">
        <button type="submit"  class="btn btn-success">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </form>
     </div>


       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
  <span class="fa fa-bars" aria-hidden="true"></span>
 </button>

 <!--Само меню-->


 <div class="collapse navbar-collapse" id="navbarResponsive">

 <ul class="navbar-nav ml-auto  d-flex justify-content-end">


        	<li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" data-placement="top" title="Управление работниками" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Работник</a>
        <div class="bg-dark dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item text-warning" href="/ekzamen/usersview/" data-placement="top" title="Просмотр списка работников" >
                 <span class="fa fa-users fa-1x" aria-hidden="true"></span>
                 Все</a>
            <a class="dropdown-item text-warning" href="/ekzamen/add/" data-placement="top" title="Добавить работника" >
                  <span class="fa fa-user-plus fa-1x" aria-hidden="true"></span>
                                Добавить</a>


        </div>

            </li>
     <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/ekzamen/ppview/"  id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-placement="top" title="Управление участками" >Участки</a>


       <div class="bg-dark dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item text-warning" href="/ekzamen/uchlist/" data-placement="top" title="Просмотр списка участков" >
                            <span class="fa fa-list-ol" aria-hidden="true"></span>
                 Все</a>
            <a class="dropdown-item text-warning" href="/ekzamen/uchadd/" data-placement="top" title="Добавить участок">
                              <span class="fa fa-plus-square" aria-hidden="true"></span>
                Добавить</a>


        </div>
</li>
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/ekzamen/ppview/"  id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-placement="top" title="Управление профессиями">Профессии</a>


       <div class="bg-dark dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item text-warning" href="/ekzamen/uchlist/" data-placement="top" title="Просмотр списка профессий">
                     <span class="fa fa-list-ol" aria-hidden="true"></span>
                 Все</a>
            <a class="dropdown-item text-warning" href="/ekzamen/uchadd/" data-placement="top" title="Добавить профессию">
                 <span class="fa fa-plus-square" aria-hidden="true"></span>
                Добавить</a>


        </div>
</li>
        	<li class="nav-item"><a href="/ekzamen/ppview/" class="nav-link">Отчеты</a></li>




     <li class="nav-item"><a href="/" class="nav-link text-info"> {% for p1 in Ptemp %} {{ p1.user }}{% endfor %}</a></li>


		<li class="active nav-item"><a href="{% url 'logout'%}" class="nav-link" data-placement="left" title="Выйти из учетной записи">Выход</a></li>
        </ul>
 </div><!-- /.navbar-collapse -->
    {% endif %}
</nav>


      </div>

 </div>
<!--
{% if user.is_authenticated %}
  <div class="container bg-dark align-self-start col-12" >
        <div class="row bg-dark col-12 d-flex justify-content-center" >
  {% for p1 in Ptemp %}
     <p class="text-success text-center">Вы вошли как - {{  p1.user  }}-{{ p1.name }} </p>


{% endfor %}

  {% endif %}
  -->
  <!--
  начало блока
  -->




    {% block content %}

    {% endblock %}
  <!--
  конец блока
  -->




   {% include 'ekzamenator/footer.html' %}
