{% load static %}
<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="images/x-icon" href="img/favicon.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="keywords" content="Свердловск, svkmarket, ЛНР, объявления, маркет, покупки, Aliexpress, shop, market, заказы, бизнесс, заработать, разработка сайтов, услуги" />
<meta name="description" content="Заказы с Aliexpress, выгодное предложение, быстрая доставка, бесплатные объявления, канал Telegram @svkmarker, электронная комерция">


|<style>
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2vh; /*высота футера будет зависеть от высоты экрана*/
}
/* чтобы весь футер заливался */

html,body{
    height:100%;
     background-color: #000000;
}


</style>
</head>

<body>





  <!-- NAV #1 и HEADER -->
<div class="container col-12">
	<div class="row bg-dark">

<nav class="navbar navbar-expand-md navbar-dark bg-dark col-12 fixed-top">
			<div class="col-4">




				<a class="navbar-brand text-success" href="/"><img src="/static/logo.png" width="32" height="32">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   {% for p1 in Ptemp %} {{ p1.name }}{% endfor %}</a>

			</div>

{% if user.is_authenticated %}
     <div class="col-4">
  <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите номер..." name="q" class="form-control" required="">
        <button type="submit"  class="btn btn-success">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </form>
     </div>


       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
 <span class="navbar-toggler-icon"></span>
 </button>

 <!--Само меню-->


 <div class="collapse navbar-collapse" id="navbarResponsive">

 <ul class="navbar-nav ml-auto  d-flex justify-content-end">

            <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
        	<li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Работник</a>
        <div class="bg-dark dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item text-warning" href="/ekzamen/usersview/">Все</a>
            <a class="dropdown-item text-warning" href="/ekzamen/add/">Добавить</a>


        </div>

            </li>
     <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/ekzamen/ppview/"  id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Участки</a>


       <div class="bg-dark dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item text-warning" href="/ekzamen/usersview/">Все</a>
            <a class="dropdown-item text-warning" href="/ekzamen/add/">Добавить</a>


        </div>
</li>

        	<li class="nav-item"><a href="/ekzamen/ppview/" class="nav-link">Отчеты</a></li>




     <li class="nav-item"><a href="/" class="nav-link text-info"> {% for p1 in Ptemp %} {{ p1.user }}{% endfor %}</a></li>


		<li class="active nav-item"><a href="{% url 'logout'%}" class="nav-link ">Выход</a></li>
        </ul>
 </div><!-- /.navbar-collapse -->
    {% endif %}
</nav>


      </div>

 </div>
<!--
{% if user.is_authenticated %}
  <div class="container bg-dark align-self-start col-12" >
        <div class="row bg-dark col-12 d-flex justify-content-center" >
  {% for p1 in Ptemp %}
     <p class="text-success text-center">Вы вошли как - {{  p1.user  }}-{{ p1.name }} </p>


{% endfor %}

  {% endif %}
  -->
  <!--
  начало блока
  -->

    {% block content %}

    {% endblock %}
  <!--
  конец блока
  -->




   {% include 'ekzamenator/footer.html' %}
