{% extends "ekzamenator/basic.html" %}
{% block title %}Удалить человека "{{ users.name|title }}"{% endblock %}
{% block content %}
<div class="row col-12 justify-content-center mt-5">
	<div class="shadow-lg card shadow-lg border-success text-white-50 bg-dark py-2 px-2 mt-5 " style="width: 24rem;">

<form action="{% url 'users_delete' id=users.id %}" method="post">
    {% csrf_token %}
    <center>
        <h4 class="text-warning">Подтвердите удаление </h4>
        <h3 class="text-danger">{{ users.name|title }}</h3>
<br>

    <a class="btn btn-success" href="{{ users.get_absolute_url }}">Отменить</a>



    <button type="submit" name="button" class="btn btn-danger">
        Удалить
    </button>

        </center>
</form>
    </div>
</div>

    {% endblock %}
