{% extends "ekzamenator/basic.html" %}
{% block content %}



<main class="bg-dark">
  <div class="container-fluid  bg-dark " style="height: 600px">
    <div class="row bg-dark mt-4">

<div class="table-responsive shadow py-4">


    <table class="table table-bordered bg-dark table-dark table-hover"><thead><tr>
    <th scope="col">Таб.№</th><th scope="col">Ф.И.О.</th><th scope="col">Участок</th><th scope="col">Профессия</th></tr></thead><tbody>



    {% for p1 in users_list %}

<tr>
<td>{{ p1.nomer }}</td>
<td><a href="{{ p1.get_absolute_url }}" class="editContent">{{ p1.name }}</a></td>
<td>{{ p1.uch }}</td>
    <td>{{ p1.prof }}</td>



</tr>
{% endfor %}<!--

{% for p2 in new_users %}

<tr>
<td>{{ p2.nomer }}</td>
<td><a href="{{ p2.get_absolute_url }}" class="editContent">{{ p2.name }}</a></td>
<td>{{ p2.uch }}</td>
    <td>{{ p2.prof }}.</td>



</tr>
{% endfor %}
-->


</tbody></table>
</div>
    </div>





    </div>
</main>

<div  class="text-success">
<h5>
    Найдено :{{ page_obj.paginator.count }} - человек на странице :{{ users_list.count }}
</h5>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следущея</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}



{% block title %}

{% endblock %}