<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        Главная страница

    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/start.css' %}">
</head>
<body>
<a href="admin" onmouseover="change1('Вход для администратора сайта');" onmouseout="change0();" >
<img src="static/logo.png"
  width="100" height="100" alt="Логотип">
</a>
<center>

 <h1 class="neon">Digital Land</h1>
  <h2>Сайт в разработке</h2>


  <p>

    <br>
    <br>
         <br>
    <br>   <br>
    <br>   <br>
    <br>
         <a onmouseover="change1('Вход для руковадителя экзаменом');" onmouseout="change0();" class="fire"  href="ekzamen/usersview">Войти</a><br><br><br>
    <a onmouseover="change1('Вход для эспытуемого');" onmouseout="change0();" class="fire"  href="vhod">Экзамен</a><br><br><br>
    <a  onmouseover="change1('Хуйня');" onmouseout="change0();" class="fire" href="/">На главную</a>

  </p>
</center>


<div class="container col-12">
<center>
			<div class="col-4">


    <p  class="text-info" id="textp">Digital Land</p>
</div>
    </center>
</div>


</body>
</html>
<script type="text/javascript">
var text = 'Вы зашли на сайт Digital Land';
var gap = 9;

ns4 = (navigator.appName.indexOf("Netscape")>=0 && document.layers);
ie4 = (document.all && !document.getElementById);
ie5 = (document.all && document.getElementById);
ns6 = (document.getElementById && navigator.appName.indexOf("Netscape")>=0 );
var the_text = new Array();
var text = text.split('');
var xx = 0;
var yy = -999;
var txt = '';

for(i=1; i<=text.length; i++){
txt += (ns4)? '<layer name="text' + i + '" top="-100" left="0" width="' + gap +
    '" height="1">' : '<span id="text' + i +
    '" style="position:absolute; top:-100px; left:0px; height:1px; width:' +
    gap + '; visibility:visible;">';
txt += '<font color="#0000ff"><b>' + text[i-1] + '</b></font>';
txt += (ns4)? '</layer>' : '</span>';
}
document.write(txt);

function move_letter(letter, left, top){
 if(ns4)letter.moveTo(left, top);
 else{
  letter.style.left = left + "px";
  letter.style.top = top + "px";
}
}

function flying_text(evt){
 xx = 15 + ((ie4||ie5)?event.clientX + document.body.scrollLeft:evt.pageX);
 yy = 10 + ((ie4||ie5)?event.clientY + document.body.scrollTop:evt.pageY);
}

function what_left(id){
 if(ns4) return id.left;
 else return parseInt(id.style.left);
}

function what_top(id){
 if(ns4) return id.top;
 else return parseInt(id.style.top);
}

function window_width(){
 if(ie4||ie5) return document.body.clientWidth + document.body.scrollLeft;
 else return window.innerWidth + pageXOffset;
}

function move_string(){
 for(n=text.length; n>1; n=n-1){
 if(what_left(the_text[n-1])+gap*2>=window_width()){
 move_letter(the_text[n-1], 0, -999);
 move_letter(the_text[n], 0, -999);
}
else move_letter(the_text[n],what_left(the_text[n-1]) + gap,what_top(the_text[n-1]));
}
move_letter(the_text[1], xx, yy);
}

window.onload=function(){
for(n=1; n<=text.length; n++) the_text[n] = (ns4)?document.layers['text' + n]:
    (ie4)?document.all['text'+n]:document.getElementById('text' + n);
if(ns4)document.captureEvents(Event.MOUSEMOVE);
document.onmousemove = flying_text;
setInterval('move_string()', 25);
}

function change1(names){ // Функция изменяет текст
    document.getElementById('textp').innerHTML =names;
}

function change0(){ // Функция возвращает текст в исходный вид
     document.getElementById('textp').innerHTML = 'Digital Land';
}
</script>